{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
    <h1>Language index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Typed</th>
                <th>Description</th>
                <th>Execution_speed</th>
                <th>Developpement_speed</th>
                <th>Documentation</th>
                <th>Repository</th>
                <th>Execution du language</th>
                <th>Paradigmes</th>
                <th>Exemples</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.id }}</td>
                <td>{{ language.name }}</td>
                <td>{{ language.typed ? 'Yes' : 'No' }}</td>
                <td>{{ language.description }}</td>
                <td>{{ language.executionSpeed }}</td>
                <td>{{ language.developpementSpeed }}</td>
                <td>{{ language.documentation }}</td>
                <td>{{ language.repository }}</td>
                <td>{{ language.languageExecution.name }}</td>
                <td>
                    {% for paradigm in language.languageParadigmes %}
                        {% for oneparadigm in paradigm %}
                            {{ oneparadigm.name }}<br>
                        {% endfor %}
                    {% endfor %}
                </td>

                <td>
                    {% for example in language.languageExemple %}
                        {{ example.code }}<br>
                    {% endfor %}
                <td>
                    <a href="{{ path('app_language_show', {'id': language.id}) }}">show</a>
                    <a href="{{ path('app_language_edit', {'id': language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_language_new') }}">Create new</a>
{% endblock %}
