{% extends 'base.html.twig' %}

{% block title %}LanguageExemple index{% endblock %}

{% block body %}
    <h1>LanguageExemple index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Execution</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language_exemple in language_exemples %}
            <tr>
                <td>{{ language_exemple.id }}</td>
                <td>{{ language_exemple.code }}</td>
                <td>{{ language_exemple.execution }}</td>
                <td>
                    <a href="{{ path('app_language_exemple_show', {'id': language_exemple.id}) }}">show</a>
                    <a href="{{ path('app_language_exemple_edit', {'id': language_exemple.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_language_exemple_new') }}">Create new</a>
{% endblock %}
